.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1%;
    padding-top: 80px;
    font-weight: lighter;
}
.shortcut-links img{
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.side-link{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
    margin-top: 10px;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.side-link.active{
    background: #ececec;
    border-radius: 10px;
}
@media (max-width: 1300px) {
    .sidebar p{
        display: none;
    }
    .sidebar{
        width: 50px;
    }
    .small-sidebar{
    width: 50px;
    }
    .subscribed-list h3{
        display: none;
    }
    .subscribed-list div{
        display: none;
    }
    .shortcut-links hr{
        display: none;
    }
}