.play-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 2%;
    margin-top: 60px;
}
@media (max-width: 900px) {
    .play-container  {
        padding-left: 5%;
        padding-right: 5%;
    }
}